nav {
    display: inline-block;
}

nav .container {
    max-width: 100%;
}

nav .site-title {
    font: normal 45px 'Cookie', Arial, sans-serif;
}

nav .site-description {
    font: 14px Arial, Helvetica, sans-serif;
    color: white;
    padding: 0 0 20px 20px;
}

nav ul {
    padding: 0;
    margin: 0;
    vertical-align: center;
}

nav li {
    display: inline-block;
}
