h1 a {
    color: #ffc107;
}

h1 a:hover {
    text-decoration: none;
    color: #ffb300;
}

h2 {
    text-align: center;
}

nav {
    display: inline-block;
}

nav .container {
    max-width: 100%;
}

nav .site-title {
    font: normal 45px 'Cookie', Arial, sans-serif;
}

nav .site-description {
    font: 14px Arial, Helvetica, sans-serif;
    color: white;
    padding: 0 0 20px 20px;
}

nav ul {
    padding: 0;
    margin: 0;
    vertical-align: center;
}

nav li {
    display: inline-block;
}

img {
    display: block;
    margin: 0 auto;
}

footer img {
    display: inline-block;
}
